<div class="row">
    <div class="clo-md-10 col-lg-10 col-sm-10">
        <h2>
       Table With Pagination
       </h2>
    </div>
    <div class="clo-md-2 col-lg-2 col-sm-2">
        <button type="button" class="btn btn-primary" routerLink="">Back</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">

        <thead>      
          <tr>      
            <th>Mail_id</th>      
            <th>Members</th>      
            <th>Scores</th>
            <th>Title</th>
            <th>Episodes</th>      
          </tr>      
        </thead>      
        <tbody>      
          <tr *ngFor="let post of posts">      
            <td>{{ post.mal_id }}</td>      
            <td>{{ post.members }}</td>      
            <td>{{ post.score }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.episodes}}</td>      
          </tr>      
        </tbody>      
      </table>
</div>
